article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }
body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
}
#keys li { width: 47em; }
#keys ul {
    margin-left: 2em;
}
#keys ul > li:first-child {
    font-weight: bold;
    margin-left: -2em;
}
.key, .city, .zip {
    display: inline-block;
    margin-right: 1em;
    overflow: hidden;
    width: 30em;
    white-space: nowrap;
}
.city {
    width: 9em;
}
.zip {
    width: 4em;
    margin-right: 0;
}
.loaded {
    background-color: #ddf;
}

