article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }
body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
}
#keys li { background: #eef; width: 47em; }
#keys ul {
    margin-left: 2em;
}
#keys ul > li:first-child {
    font-weight: bold;
    margin-left: -2em;
}
#keys li > span {
    display: inline-block;
    margin-right: 1em;
    overflow: hidden;
    white-space: nowrap;
    width: 3em;
}
#keys .key {
    width: 28em;
}
#keys .city {
    width: 9em;
}
#keys .zip {
    width: 4em;
    margin-right: 0;
}
#keys .loaded {
    background-color: #ddf;
}


.bar {
    background-color: #ccecf9;
}
